#nav {
  position: fixed;
  top: 150px;
  left: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: 'Poiret One', cursive;
}
#nav li{
  padding: 10px 10px 10px;
  font-size: 20px;
  list-style-type: none;
}
